
@media screen and (min-width: 1024px), (min-width: 1100px), (min-width: 1240px)
{ 

    html{
        scroll-behavior: smooth;

    }

  
   
    .nav-list{
        width: 100%;
        display: flex;
        gap: 25px; 
        height: 100%;
        align-items: center;
        margin-right: 20px;
    }

    .iconm{
        display: none;
      
    }
    
  
    
  
    
    
      .banner { 

     
      transition: all .3s linear; 
      transition-property: all;
      transition-delay: 1s;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(.49, cubic-bezier(0.95, 0.05, 0.795, 0.035)); 
        
    }
    
    .banner h1{
        text-align: center;
        font-family: var(--second-font);
        font-size: 70px;
        cursor: pointer;
        
    
       
    
     } 
    
    .linea span{
        font-size: 30px;
        
        

    }
    .container{
     
    }
    
    
    .cards-productos{
        width:80%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;  
        
       
       }
   
     .gallery{
       background-color: #c6ccca3e;

        width: 25%;
      
        height: 350px;
        overflow: hidden;
        padding: 2em;
       display: flex;
       flex-direction: column;
       align-items: center;
   
 
  }

 .gallery_picture{

    height: 70%;

    
 }

 .gallery-img{

    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
  }

  .card_btn {
    display: block;
    width: 50%;
   height: 30px;
    margin-bottom:  20px;
   box-shadow: 1.5;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 4px solid #343d3b;
    background: #1abc9c41;
     background-color: #3e4745;
    font-family: 'Oswald', sans-serif;
   
   }



    .linea{
    font-size: 35px;
    }


    .new-container{
        
    }

    .img-ingreso{
        border-radius: 50%;
    }

     .img-ingreso:hover{
        transform: scale(1.3);
     }


     .cards-titulo{
        font-size: 15px;
    
    }
      .nosotros{
       
      }
    
    .img-nosotros{
       width: 350px;
       height: 400px;

   

  
    }
    
    

    .nosotros-parrafo{
        width: 50%;
        align-items: center;
      
        height:400px;
        font-size: 20px;
         max-width: 70pc;
         font-weight: 600px;
         font-family: var(--second-font);
           
     }




     .formulario{
   
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding: 30px;
      
     
    
    }
    
    
    
    form{
       max-width: 350px;
       
       background:#e9e6e6ee;
       padding: 10px 20px;
       box-sizing: border-box;
       margin-top: 20px;
       border-radius: 7px;
      
        
    }
    
     
    h2{
        color: var(--bg);
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        
    }
    
    input, textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
       
    }
    
    
    
    textarea{
        min-height:100px ;
        max-height: 200px;
        max-width: 100%;
    }
    
    .iframe-form{
    
       
    }
    
    iframe{
        max-width:350px ;
        max-height:350px ;
    }
    
    .iframe-form p{
      text-align: center;
      font-size: 20px;
    }













     footer{
         
        height: 300px;
       
    
       

    }

    .footer-links{
   
     display: flex;
     margin: 30px;
   
    
    
    
        
    }

    .footer-links i{
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s;

     }

     .footer-links i:hover{
        transform: scale(1.3s);
        color: var(--secondcolor);
     }

     .footer-links h4{
        font-size: 25px;
       font-family: var(--second-font);
       text-transform: uppercase;
        
       
      
     }
    
    
    .footer-a{
        display: flex;
    
        font-size: 15px;
        text-decoration: none;
        text-align: center;
        padding: 5px;
    } 
     .footer-links a{
      color: black;
      cursor: pointer;
      margin: 10px;
    }
    

    
    .derechos{
      
        font-size: 15px;

       background-color:  rgba(152, 152, 152, 0.187);
     }



    
    
    h4{
        color: #283629;
        font-size: 20px;
    }
    
   
    
    
    
  



    
  
    
    #botonarriba a{
    
    }
    
    .flecha-arriba{
        width: 50px;
    }
    
    #botonarriba:hover{
     transform: scale(1.3);




}





}
