@media screen and (min-width: 768px)
{

    html{
        scroll-behavior: smooth;
    }

    .iconm{
        display: none;

    }

    .cards{
        
    }

    .cards-productos{
         width:100%; 
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;  
         gap: 10px;
     
       }
       
       
       .gallery{
        

        width: 100%;
        height: 30%;
      
        overflow: hidden;
        padding: 1em;
        display: flex;
        
        flex-direction: column; 
        justify-content: center;
        align-items: center;
      
  
     
     }
    
    .gallery_picture{
 
    height: 500px;
     }
    
    .gallery-img{
  
        width: 100%;
        height:80%;
     
        overflow: hidden;
        
     }
    
    .card_btn {
        display: block;
        width: 30%;
       height: 25px;
        margin-bottom:10px;
       box-shadow: 1.5;
        color: #fff;
        border-radius: 4px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        border-bottom: 4px solid #9fb3af;
        background: #58807841;
         background-color: #404343;
        font-family: 'Oswald', sans-serif;
       
       }
    


    .new-container{
        width: 100%;
        background-color: rgba(238, 238, 230, 0.895);

    }

    .img-cortinas{
        width: 50%;
        overflow: hidden;
        height: 250px;
        margin-left: 190px;
        box-shadow: 0 1rem 1rem rgba(143, 141, 141, 0.4);
        background-size: cover;

    }

    .parrafo-cortinas{
        font-family: var(--font);
        font-family:600px;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        margin:20px;
    }




    footer{
        width: 100%;
        height: 350px;
       

    }

    .footer-links{
        display: flex;
        display:inline;
    }

    .footer-links i{
        font-size: 28px;
        cursor: pointer;
        transition: all 0.3s;

     }

     .footer-links i:hover{
        transform: scale(1.3s);
        color: var(--secondcolor);
     }




    .parrafo-nosotros{
        max-width: 70pc;
    }



    form{

        padding: 20px 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 280px;


    }

    .input-contacto{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    h4{
        color: #283629;
        font-size: 25px;
    }

    label{
        color: #283629;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    input, textarea{
        padding: 10px 10px;
        border-radius: 25px;
        margin-bottom: 8px;
        background-color: #e0e8e797;
        border: 2px solid #e4eee5c9;

    }



    .btnf{
        font-size: 11px;
        color: #ffff;
        border: 0;
        border-radius: 20px;
        background-color: var(--secondcolor);
        box-shadow: 0 0 20px var(--secondcolor);
        cursor: pointer;
    }

    .btnf:hover{
        background-color: antiquewhite;
    }



    .iframe-form{
        width: 100%;

        display: flex;
       justify-content: center;
        align-items: center;
        align-content: center;


    }



    .iframe-form p{
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        color: #ffff;

    }



    .container{
        display: flex;
        

    }



}